<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448282231129-oc8qvm68mm4ibp5nnm6uftvfqbf6b3tc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448282231129-oc8qvm68mm4ibp5nnm6uftvfqbf6b3tc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>448282231129-l2psahv93uprirrejo4fit63eha88i0i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-6LJACu20zJ5OZbx0xAR1EzqLQpJcLlw</string>
	<key>GCM_SENDER_ID</key>
	<string>448282231129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magiclampgames.jetmouse</string>
	<key>PROJECT_ID</key>
	<string>mercury-boy-74261468</string>
	<key>STORAGE_BUCKET</key>
	<string>mercury-boy-74261468.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448282231129:ios:3aa7840793d05b8efc8c48</string>
	<key>DATABASE_URL</key>
	<string>https://mercury-boy-74261468.firebaseio.com</string>
</dict>
</plist>